NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/prueba_wompi?schema=public"

FRONTEND_URL="http://localhost:5173"

# Pasarela de pagos (Wompi Sandbox).
PAYMENT_API_URL="https://api-sandbox.co.uat.wompi.dev/v1"
PAYMENT_PUBLIC_KEY="pub_stagtest_xxxxxxxxxxxxxxxxxxxxxxxxxx"
PAYMENT_PRIVATE_KEY="prv_stagtest_xxxxxxxxxxxxxxxxxxxxxxxxxx"
PAYMENT_INTEGRITY_SECRET="stagtest_integrity_xxxxxxxxxxxxxxxxxxxxxx"
PAYMENT_EVENTS_SECRET="stagtest_events_xxxxxxxxxxxxxxxxxxxxxx"

# Valores monetarios
BASE_FEE_IN_CENTS=5000
DEFAULT_DELIVERY_FEE_IN_CENTS=10000
CURRENCY=COP
